3.5 Henter og filtrerer linkedin poster.blueprint.json
{
    "name": "3.5 Henter og filtrerer linkedin poster",
    "flow": [
        {
            "id": 1,
            "module": "apify:finishedTaskRun",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 3081334
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "sonat mw"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:apify2",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "apify:fetchDatasetItems",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5449938
                            },
                            "mapper": {
                                "type": "clean",
                                "limit": "500",
                                "format": "json",
                                "offset": "1",
                                "datasetId": "{{1.defaultDatasetId}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Clean"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "JSON"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "apify"
                                            },
                                            "label": "Amund@aiki.as (amund@aiki.as)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:apify2,apify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "datasetId",
                                        "type": "text",
                                        "label": "Dataset ID",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Data transformation",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "clean",
                                                "simplified",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "csv",
                                                "html",
                                                "xml",
                                                "rss",
                                                "xlsx"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "validate": {
                                            "max": 100000,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "offset",
                                        "type": "uinteger",
                                        "label": "Offset",
                                        "validate": {
                                            "min": 0
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "\\b(ansett|rekrutter|stilling|stillingsutlysning|jobb(?:tilbud)?|utvider\\s?team|vi\\s?(ansetter|rekrutterer)|devops|kubernetes|docker|aws|azure|gcp|cloud|sre|platform\\s?engineer|ml\\s?ops|mlops|ai|ml|llm|genai|datascientist|data\\s?(scientist|engineer|platform)|cto|tech\\s?lead|arkitekt|arkitektur|moderniser(?:ing|e)?|transformasjon|skaler(?:ing|er)?|microservices|kafka|produktlanser(?:ing)?|lansering|release|partner(?:ship)?|samarbeid|integrasj(?:on|on)|kontrakt|rammeavtale|proof\\s?of\\s?concept|poc|pilot|konferanse|event|messe|webinar|meetup|hackathon|nok|mnok|million|mill|service\\s?design|tjenestedesign|design\\s?thinking|wireframe|brukertesting|personas|customer\\s?journey|vr|ar|virtuell\\s?virkelighet|augmented\\s?reality|mixed\\s?reality|3d\\s?(?:modell|visualiser)|metaverse|chatgpt|openai|anthropic|claude|neural\\s?network|deep\\s?learning|computer\\s?vision|nlp|natural\\s?language|tech\\s?debt|legacy\\s?system|refaktor|api\\s?(?:first|design|gateway)|headless|jamstack|low\\s?code|no\\s?code|mvp|minimum\\s?viable|beta\\s?test|go\\s?live|deployment|continuous\\s?integration|ci\\s?cd|fintech|healthtech|proptech|edtech|cleantech)\\b",
                                "multiline": true,
                                "sensitive": false,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.text}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{2.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    },
                                    {
                                        "name": "$2",
                                        "type": "text",
                                        "label": "$2"
                                    },
                                    {
                                        "name": "$3",
                                        "type": "text",
                                        "label": "$3"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7361319
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.`$1`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gpt-4.1-nano",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "# SONAT NEWS INTELLIGENCE PROCESSOR - FULL SCALE v3.0\r\n\r\n## 1. ROLLE\r\n\r\nDu analyserer norske tech-nyheter og scorer alle relevante bedrifter 1-10, returnerer 5 kritiske datafelter per bedrift.\r\n\r\n**SONAT's tjenester:**\r\n- Digitalisering og systemutvikling\r\n- Tjenestedesign og UX\r\n- AI/ML og kunstig intelligens  \r\n- VR/AR teknologi\r\n- Teknologirådgivning\r\n\r\n## 2. KOMPLETT RELEVANS SCORING (1-10)\r\n\r\n**Score 10 - KRITISK UMIDDELBAR:**\r\n- Søker ekstern konsulent direkte innen SONAT-områder\r\n- Konkret prosjekt med budsjett >20M NOK og tight tidslinje\r\n- \"Trenger hjelp med [AI/ML/digitalisering/UX]\" eksplisitt nevnt\r\n\r\n**Score 9 - KRITISK PLANLAGT:**\r\n- CTO/CDO/Chief Data Officer ansettelse med konkret tech-mandat\r\n- Finansieringsrunde ≥50M NOK + explicit tech-transformasjon\r\n- Compliance-deadline som tvinger modernisering (konkret dato)\r\n- M&A hvor \"IT-integrasjon\" er kritisk suksessfaktor\r\n\r\n**Score 8 - HØYT SANNSYNLIG:**\r\n- Stor IT-investering annonsert (5-20M NOK)\r\n- Strategic tech partnerships som indikerer implementeringsbehov\r\n- \"Legacy system\" nevnt som veksthinder med løsningsplaner\r\n- Produktlansering som krever skalerbar tech-arkitektur\r\n\r\n**Score 7 - HØYT POTENSIAL:**\r\n- Betydelig vekst >50% + tech-rolle ansettelser (DevOps, AI, UX)\r\n- \"Digital transformation\" som strategisk initiativ\r\n- Ny tech-division etablert eller tech-team utvidelse\r\n- Platform-modernisering nevnt som prioritet\r\n\r\n**Score 6 - MODERAT SANNSYNLIG:**\r\n- Generell vekst 25-50% i tech-intensive bransjer\r\n- Tech-rolle ansettelser uten konkret prosjektbeskrivelse\r\n- \"Innovation\" eller \"digitalisering\" nevnt som focus-område\r\n- Konkurrent-press som indikerer behov for tech-oppgradering\r\n\r\n**Score 5 - MODERAT POTENSIAL:**\r\n- Stabil vekst i SONAT-relevante sektorer (fintech, maritime, etc.)\r\n- Generelle moderniserings-uttalelser uten konkrete planer\r\n- Ny lederskap som kan drive tech-initiatives\r\n- Industry positioning som indikerer future tech-behov\r\n\r\n**Score 4 - LAV SANNSYNLIG:**\r\n- Liten vekst men i tech-relevant bransje\r\n- Sporadiske tech-investeringer eller pilotprosjekter\r\n- Defensive tech-uttalelser uten offensiv strategi\r\n- Cost-cutting som kan ramme tech-investeringer\r\n\r\n**Score 3 - LAV POTENSIAL:**\r\n- Minimal tech-relevans men i riktig størrelseskategori (>50 ansatte)\r\n- Generell business-aktivitet uten tech-signaler\r\n- Traditional business uten digitaliserings-signaler\r\n- Mulig fremtidig potensial men ingen umiddelbare indikatorer\r\n\r\n**Score 2 - SVÆRT LAV:**\r\n- Feil bransje eller størrelse for SONAT\r\n- Ingen tech-relevante signaler i nyheter\r\n- Kostnadsfokus som utelukker konsulentbruk\r\n- Traditionell drift uten moderniseringsplaner\r\n\r\n**Score 1 - IRRELEVANT:**\r\n- Helt utenfor SONAT's målgruppe\r\n- Ingen tech-komponenter i business model\r\n- For små (<15 ansatte) eller feil sektor\r\n- Åpenbart ikke kandidat for konsulentbruk\r\n\r\n## 3. KATEGORIER - KUN 3\r\n\r\n- **Kritisk_Tech_Investering** (store prosjekter, konkret budsjett)\r\n- **Strategic_Tech_Hiring** (lederskap/team-building for tech)  \r\n- **Akutt_Modernisering** (competitive/regulatory press)\r\n\r\n## 4. OUTPUT - 5 FELTER\r\n\r\n```json\r\n{\r\n  \"companies\": [\r\n    {\r\n      \"kategori\": \"[Kritisk_Tech_Investering/Strategic_Tech_Hiring/Akutt_Modernisering]\",\r\n      \"relevans_score\": \"[1-10 basert på kriterier over]\",\r\n      \"priority_level\": \"[KRITISK (9-10)|HØY (7-8)|MODERAT (5-6)|LAV (3-4)|MINIMAL (1-2)]\",\r\n      \"sonat_match\": \"[Digitalisering/AI_ML/UX_Tjenestedesign/VR_AR/Teknologirådgivning/Systemutvikling]\", \r\n      \"action_required\": \"[Konkret handling med tidsfrist og begrunnelse]\"\r\n    }\r\n  ]\r\n}\r\n```\r\n\r\n## 5. ACTION REQUIRED EKSEMPLER PER SCORE\r\n\r\n**Score 9-10:** \"Ring innen 24-48t - [konkret behov] nevnt, estimert [X]M NOK prosjekt\"\r\n**Score 7-8:** \"Kontakt innen 2 uker - [strategic signal], sannsynlig [X]M NOK potensial\"  \r\n**Score 5-6:** \"Følg opp innen måneden - [growth signal], mulig fremtidig prosjekt\"\r\n**Score 3-4:** \"Legg i database for senere - minimal umiddelbar relevans\"\r\n**Score 1-2:** \"Ikke relevant for SONAT - [årsak]\"\r\n\r\n## 6. PROSESSERING\r\n\r\n1. Analyser alle bedrifter i nyhetsmateriale\r\n2. Score hver bedrift 1-10 basert på strenge kriterier over\r\n3. Inkluder ALLE bedrifter score 3+ (du filtrerer senere)\r\n4. Return de 5 feltene per bedrift\r\n\r\n**EXECUTION:** Analyser alle tech-relevante bedrifter, score 1-10, return komplett liste."
                                    },
                                    {
                                        "role": "user",
                                        "content": "linkendin input:\nurl: {{2.url}}\ndato: {{2.postedAtISO}}\nkotno: {{2.authorName}}\ntekst: {{2.text}}",
                                        "imageDetail": "auto"
                                    }
                                ],
                                "max_tokens": "500",
                                "temperature": "0",
                                "n_completions": "10",
                                "response_format": "json_object",
                                "parseJSONResponse": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "linkedin >9"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4.1-nano (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT and o1 models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Developer / System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "imageDetail": {
                                                        "mode": "chose",
                                                        "label": "Auto"
                                                    },
                                                    "imageInputType": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "JSON Object"
                                        },
                                        "parseJSONResponse": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "AIKI team"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": {
                                                        "store": [
                                                            {
                                                                "label": "User",
                                                                "value": "user",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "name": "imageInputType",
                                                                        "type": "select",
                                                                        "label": "Image Input Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "URL",
                                                                                "value": "url",
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                        "name": "imageUrl",
                                                                                        "type": "url",
                                                                                        "label": "Image URL"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Image File",
                                                                                "value": "file",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "imageFile",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                                "name": "imageFilename",
                                                                                                "type": "filename",
                                                                                                "label": "Image Filename",
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "jpg",
                                                                                                    "jpeg",
                                                                                                    "png",
                                                                                                    "webp",
                                                                                                    "gif"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "imageData",
                                                                                                "type": "buffer",
                                                                                                "label": "Image Data",
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Image"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "mappable": false
                                                                    },
                                                                    {
                                                                        "help": "Recommended value: `Auto`",
                                                                        "name": "imageDetail",
                                                                        "type": "select",
                                                                        "label": "Image Detail",
                                                                        "options": [
                                                                            {
                                                                                "label": "Auto",
                                                                                "value": "auto",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "High",
                                                                                "value": "high"
                                                                            },
                                                                            {
                                                                                "label": "Low",
                                                                                "value": "low"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Assistant",
                                                                "value": "assistant",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "mode": "edit",
                                                                        "name": "tool_calls",
                                                                        "spec": {
                                                                            "spec": [
                                                                                {
                                                                                    "name": "type",
                                                                                    "type": "hidden",
                                                                                    "default": "function"
                                                                                },
                                                                                {
                                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                                    "name": "id",
                                                                                    "type": "text",
                                                                                    "label": "Tool call ID"
                                                                                },
                                                                                {
                                                                                    "name": "function",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "The name of the function previously called.",
                                                                                            "name": "name",
                                                                                            "type": "text",
                                                                                            "label": "Name",
                                                                                            "required": true
                                                                                        },
                                                                                        {
                                                                                            "help": "The arguments previously output by the AI.",
                                                                                            "name": "arguments",
                                                                                            "type": "text",
                                                                                            "label": "Arguments",
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Function"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Tool Call"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Tool Calls",
                                                                        "labels": {
                                                                            "add": "Add tool call"
                                                                        },
                                                                        "mappable": {
                                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Developer / System",
                                                                "value": "system",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Tool",
                                                                "value": "tool",
                                                                "nested": [
                                                                    {
                                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                        "name": "tool_call_id",
                                                                        "type": "text",
                                                                        "label": "Tool Call ID.",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseJSONResponse",
                                        "type": "boolean",
                                        "label": "Parse JSON Response",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "Result"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "choices",
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "tool_calls",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "function",
                                                                "spec": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Name"
                                                                    },
                                                                    {
                                                                        "name": "arguments",
                                                                        "type": "text",
                                                                        "label": "Arguments"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Function"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Tool Calls"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "url_citation",
                                                                "spec": [
                                                                    {
                                                                        "name": "end_index",
                                                                        "type": "number",
                                                                        "label": "End Index"
                                                                    },
                                                                    {
                                                                        "name": "start_index",
                                                                        "type": "number",
                                                                        "label": "Start Index"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "url",
                                                                        "type": "text",
                                                                        "label": "URL"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "URL Citation"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Annotations"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Choices"
                                    },
                                    {
                                        "name": "usage",
                                        "spec": [
                                            {
                                                "name": "prompt_tokens",
                                                "type": "number",
                                                "label": "Prompt Tokens"
                                            },
                                            {
                                                "name": "completion_tokens",
                                                "type": "text",
                                                "label": "Completion Tokens"
                                            },
                                            {
                                                "name": "total_tokens",
                                                "type": "number",
                                                "label": "Total Tokens"
                                            },
                                            {
                                                "name": "prompt_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "cached_tokens",
                                                        "type": "uinteger",
                                                        "label": "Cached Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "image_tokens",
                                                        "type": "uinteger",
                                                        "label": "Image Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Prompt Tokens Details"
                                            },
                                            {
                                                "name": "completion_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "reasoning_tokens",
                                                        "type": "uinteger",
                                                        "label": "Reasoning Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    },
                                                    {
                                                        "name": "accepted_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Accepted Prediction Tokens"
                                                    },
                                                    {
                                                        "name": "rejected_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Rejected Prediction Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Completion Tokens Details"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Usage"
                                    },
                                    {
                                        "name": "service_tier",
                                        "type": "text",
                                        "label": "Service Tier"
                                    },
                                    {
                                        "name": "system_fingerprint",
                                        "type": "text",
                                        "label": "System Fingerprint"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 26,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5394937
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{16.result.companies[].relevans_score}}",
                                            "b": "7",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "map",
                                "values": {
                                    "0": "{{2.authorName}}",
                                    "1": "{{2.url}}",
                                    "2": "{{2.text}}",
                                    "3": "{{2.postedAtISO}}",
                                    "4": "{{16.result.companies[].kategori}}",
                                    "5": "{{16.result.companies[].relevans_score}}",
                                    "6": "{{16.result.companies[].sonat_match}}",
                                    "7": "{{16.result.companies[].action_required}}"
                                },
                                "sheetId": "Linkedin {{formatDate(now; \"DD.MM.YYYY\")}}",
                                "spreadsheetId": "1p5lLUysE1TWqctWvVtvSkccC4znpAvojsuoogVGj_rk",
                                "tableFirstRow": "A1:Z1",
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Enter manually"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "AMUND AIKI (amund@aiki.as)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "text",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "google-sheets:addSheet",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5394937
                            },
                            "mapper": {
                                "select": "map",
                                "properties": {
                                    "title": "Tall og data {{formatDate(now; \"DD.MM.YYYY\")}}"
                                },
                                "spreadsheetId": "1p5lLUysE1TWqctWvVtvSkccC4znpAvojsuoogVGj_rk"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "AMUND AIKI (amund@aiki.as)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "properties",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "validate": {
                                                    "max": 100
                                                }
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5394937
                            },
                            "mapper": {
                                "mode": "map",
                                "values": {
                                    "0": "total_linkedin",
                                    "1": "total_nyheter",
                                    "2": "filtrert linkedin",
                                    "3": "tier1_nyheter",
                                    "4": "tier1_linkedin",
                                    "5": "tier2_linkedin",
                                    "6": "tier3_linkedin"
                                },
                                "sheetId": "{{28.replies[].addSheet.properties.title}}",
                                "spreadsheetId": "{{28.spreadsheetId}}",
                                "tableFirstRow": "A1:Z1",
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Enter manually"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "AMUND AIKI (amund@aiki.as)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "text",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 32,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5394937
                            },
                            "mapper": {
                                "mode": "map",
                                "values": {
                                    "0": "{{1.chargedEventCounts.post}}"
                                },
                                "sheetId": "{{28.replies[].addSheet.properties.title}}",
                                "spreadsheetId": "{{28.spreadsheetId}}",
                                "tableFirstRow": "A1:Z1",
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Enter manually"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "AMUND AIKI (amund@aiki.as)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "text",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}